@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
  --primary-1: rgb(45, 20, 92);
  --primary-2: rgb(87, 63, 133);
  --primary-3: rgb(128, 96, 160);
  --primary-4: rgb(160, 128, 192);
  --text-1: rgb(255, 255, 255);
  --text-2: rgb(228, 222, 222);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  width: 100vw;
  overflow-x: hidden;
}

.primary-1 {
  background-color: var(--primary-1) !important;
}

.primary-2 {
  background-color: var(--primary-2) !important;
}

.primary-3 {
  background-color: var(--primary-3) !important;
}

.primary-4 {
  background-color: var(--primary-4) !important;
}

.text-1 {
  color: var(--text-1);
}

.text-2 {
  color: var(--text-2);
}

/* Topbar */
.topbar {
  padding-inline: 2em;
  padding-block: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar .main-title {
  font-size: 0.8em;
  font-weight: 100;
  color: var(--text-2);
}

.topbar .icons-right {
  display: flex;
  gap: 2em;
}

/* Hero */

.hero {
  padding: 1em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.hero .hero-image {
  width: 100%;
}

.hero .hero-image img {
  width: 75%;
  height: auto;
}

.hero .hero-content {
  margin-top: -2em;
  margin-left: -17%;
  text-align: left;
  display: flex;
  flex-direction: column;
  color: var(--text-1);
  gap: 1em;
}

.hero-region {
  font-size: 2em;
  font-weight: 900;
  text-transform: uppercase;
}

.hero-pop {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 0.8em;
  gap: 0.3em;
}

.hero-pop .hero-actual-pop {
  font-weight: 800;
}

.hero-pop .hero-year {
  font-style: italic;
}

/* Display Area */

.display-area {
  margin: 0;
}

.display-header {
  padding: 0.5em 1em;
  color: var(--text-2);
  text-transform: uppercase;
}

.countries-container {
  display: flex;
  flex-wrap: wrap;
}

.countries-container > * {
  flex: 1 1 auto;
}

.countries-container:nth-child(even) .country {
  background-color: var(--primary-1);
}
